# DISCLAIMER: This Pipfile is not intended to be used yet. We still have issues
# regarding some features missing in Pipenv (such as an option to completly
# bypass the PyPI cheese shop to use exclusively our collection of vendored
# Python packages in the `assets/toolkit/` directory, or the ability to take an
# expression such as ">=3.6" as the "python_version" requirement).

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clipostoolkit = {editable = true, path = ".", extras = ["qa", "docs"]}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
